body{
    background: url(img/gold.jpg);
    background-size:cover;
}

h1{
    color: black;
    text-align: center;
    padding:150px;
    background: url(img/diamonds.jpg);
    background-size:cover;
    width: 200px;
    margin: auto;
    font-size:50px;
    border:20px solid white;
}
span{
    color:black;
    transition: ease-in-out 0.33s all;
}

span.rotate{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    display: inline-block;
}

#jam{
    background: url(img/fire.gif);
    width:400px;
    height:400px;
    background-size:cover;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px);
}

.guy{
    display:block;
    float:left;
    width:100px;
}

#guyBody{
    position: absolute;
    top:0;
    right:0;
}

