body{
    background: url(img/gold.jpg);
    background-size:cover;
}

h1{
    color: black;
    text-align: center;
    padding:150px;
    background: url(img/diamonds.jpg);
    background-size:cover;
    width: 200px;
    margin: auto;
    font-size:50px;
    border:20px solid white;
}
span{
    color:black;
}